/* line 5, ../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* line 1, ../sass/partials/_global.scss */
h1 { font-size: 30px; line-height: 36px; margin-bottom: 15px; }

/* line 7, ../sass/partials/_global.scss */
.breadcrumb { background: none; border: none; font-size: 20px; list-style: none; margin: 10px 0; padding: 0; position: relative; }
/* line 15, ../sass/partials/_global.scss */
.breadcrumb li { float: none; }
/* line 18, ../sass/partials/_global.scss */
.breadcrumb li a span { display: none; }
/* line 22, ../sass/partials/_global.scss */
.breadcrumb li.home-link a { font-size: 1.3em; }

/* line 28, ../sass/partials/_global.scss */
table, table.table { border-collapse: collapse; margin: 1em 0; width: 100%; }
/* line 33, ../sass/partials/_global.scss */
table thead > tr > th, table.table thead > tr > th { background-color: #F3F3F3; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #f0f0f0)); background-image: -webkit-linear-gradient(#f5f5f5, #f0f0f0); background-image: -moz-linear-gradient(#f5f5f5, #f0f0f0); background-image: -o-linear-gradient(#f5f5f5, #f0f0f0); background-image: linear-gradient(#f5f5f5, #f0f0f0); border: 1px solid rgba(0, 0, 0, 0.15) !important; padding: 4px 8px; }
/* line 39, ../sass/partials/_global.scss */
table thead th:first-child, table.table thead th:first-child { @inlclude border-top-left-radius(4px); }
/* line 42, ../sass/partials/_global.scss */
table thead th:last-child, table thead th:last-child, table.table thead th:last-child, table.table thead th:last-child { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }
/* line 46, ../sass/partials/_global.scss */
table tbody th, table td, table.table tbody th, table.table td { border: 1px solid rgba(0, 0, 0, 0.15); padding: 4px 8px; vertical-align: top; }
/* line 52, ../sass/partials/_global.scss */
table tr:hover, table.table tr:hover { background: #FFFEEE; }

/* line 1, ../sass/partials/_layout.scss */
body { font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: .8em; line-height: 1.35em; }

/* line 6, ../sass/partials/_layout.scss */
.navbar .logo { margin: 0; padding: 10px 15px 10px 0; }
/* line 9, ../sass/partials/_layout.scss */
.navbar .logo img { height: 50px; }

/* line 13, ../sass/partials/_layout.scss */
#page-wrapper { padding: 20px 0; }

/* line 16, ../sass/partials/_layout.scss */
.page-header { border-bottom: none; }

/* line 19, ../sass/partials/_layout.scss */
#jumbotron { background: url("../images/hero.png") no-repeat 50% 30% #0163a0 !important; background-size: cover !important; border-bottom: 1px solid black; height: 200px; padding: 50px 0; }
/* line 25, ../sass/partials/_layout.scss */
#jumbotron h2.block-title { display: none; }

/* line 1, ../sass/partials/_node.scss */
.field-name-field-tags .field-item { display: inline-block; }

/* line 5, ../sass/partials/_node.scss */
.field-type-taxonomy-term-reference a { padding: 2px 10px 3px; font-size: 12px; -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; -ms-border-radius: 0 5px 5px 0; -o-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfdfc), color-stop(100%, #f5f5f5)); background-image: -webkit-linear-gradient(#fbfdfc, #f5f5f5); background-image: -moz-linear-gradient(#fbfdfc, #f5f5f5); background-image: -o-linear-gradient(#fbfdfc, #f5f5f5); background-image: linear-gradient(#fbfdfc, #f5f5f5); margin: 5px 5px 5px 20px; position: relative; color: #333333; border: 1px solid #cccccc; border-left: 0; z-index: 2; }
/* line 17, ../sass/partials/_node.scss */
.field-type-taxonomy-term-reference a:after { content: ""; width: 18px; height: 18px; background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #fbfdfc), color-stop(100%, #f5f5f5)); background-image: -webkit-linear-gradient(left top, #fbfdfc 0%, #f5f5f5 100%); background-image: -moz-linear-gradient(left top, #fbfdfc 0%, #f5f5f5 100%); background-image: -o-linear-gradient(left top, #fbfdfc 0%, #f5f5f5 100%); background-image: linear-gradient(left top, #fbfdfc 0%, #f5f5f5 100%); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; display: block; position: absolute; top: 2px; left: -9px; z-index: -1; border: 1px solid #cccccc; border-top: none; border-right: none; }
/* line 33, ../sass/partials/_node.scss */
.field-type-taxonomy-term-reference a:before { content: ""; width: 2px; height: 2px; background: #cccccc; position: absolute; top: 11px; left: -5px; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
/* line 44, ../sass/partials/_node.scss */
.field-type-taxonomy-term-reference a:hover:after, .field-type-taxonomy-term-reference a:hover { background: #eeeeee; color: #000; text-decoration: none; }

/* line 51, ../sass/partials/_node.scss */
.resource-list { margin: 1em 0; }

/* line 54, ../sass/partials/_node.scss */
.resource-list .btn { margin-right: 0; }

/* line 58, ../sass/partials/_node.scss */
.node-dataset label { font-size: 18px; font-weight: bold; line-height: 27px; }

/* line 64, ../sass/partials/_node.scss */
.data-and-resources .label { display: inline; padding: 1px 4px 2px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; font-size: 10.998px; font-weight: bold; line-height: 14px; color: white; vertical-align: baseline; white-space: nowrap; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

/* line 76, ../sass/partials/_node.scss */
.label[data-format="csv"], .label[data-format*="csv"] { background-color: #DFB100; }

/* line 1, ../sass/partials/_block.scss */
.region-content .block { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); background-color: white; margin-bottom: 20px; padding: 20px; }

/* line 4, ../sass/partials/_block.scss */
h2.block-title { background-color: #F3F3F3; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #f0f0f0)); background-image: -webkit-linear-gradient(#f5f5f5, #f0f0f0); background-image: -moz-linear-gradient(#f5f5f5, #f0f0f0); background-image: -o-linear-gradient(#f5f5f5, #f0f0f0); background-image: linear-gradient(#f5f5f5, #f0f0f0); -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; -ms-border-radius: 3px 3px 0 0; -o-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; border-bottom: 1px solid rgba(0, 0, 0, 0.15); color: #0062A0; font-size: 14px; line-height: 1.3; padding: 7px 15px; }

/* line 16, ../sass/partials/_block.scss */
.region-sidebar-first .block, .region-sidebar-second .block { background-color: #FFFFFF; border-radius: 3px; box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); margin-bottom: 20px; }
/* line 21, ../sass/partials/_block.scss */
.region-sidebar-first .block .block-content, .region-sidebar-second .block .block-content { padding: 20px 15px; }

/* line 28, ../sass/partials/_block.scss */
#nav-wrapper #block-dkan-sitewide-dkan-sitewide-search-bar { display: inline-block; position: relative; margin-top: 8px; width: 172px; }
/* line 13, ../sass/partials/_mixin.scss */
#nav-wrapper #block-dkan-sitewide-dkan-sitewide-search-bar form { margin: 0; }
/* line 16, ../sass/partials/_mixin.scss */
#nav-wrapper #block-dkan-sitewide-dkan-sitewide-search-bar input.form-text { padding-right: 30px; }
/* line 19, ../sass/partials/_mixin.scss */
#nav-wrapper #block-dkan-sitewide-dkan-sitewide-search-bar .views-exposed-form .views-widget-filter-search_api_views_fulltext { float: none; position: relative; }
/* line 23, ../sass/partials/_mixin.scss */
#nav-wrapper #block-dkan-sitewide-dkan-sitewide-search-bar .views-exposed-form { position: relative; }
/* line 25, ../sass/partials/_mixin.scss */
#nav-wrapper #block-dkan-sitewide-dkan-sitewide-search-bar .views-exposed-form .views-exposed-widget { padding: 0; }
/* line 28, ../sass/partials/_mixin.scss */
#nav-wrapper #block-dkan-sitewide-dkan-sitewide-search-bar .views-exposed-form .form-submit { color: transparent; background: none !important; border: none; padding: 0; position: absolute; right: 10px; top: -20px; }
/* line 37, ../sass/partials/_mixin.scss */
#nav-wrapper #block-dkan-sitewide-dkan-sitewide-search-bar .views-exposed-form .form-submit:after { font-family: "FontAwesome"; font-size: 1.5em; content: '\f002'; color: #cccccc; }
/* line 43, ../sass/partials/_mixin.scss */
#nav-wrapper #block-dkan-sitewide-dkan-sitewide-search-bar .views-exposed-form .description { position: absolute; color: #999999; font-size: 12px; left: 7px; top: 10px; }
/* line 31, ../sass/partials/_block.scss */
#nav-wrapper #block-dkan-sitewide-dkan-sitewide-search-bar form { width: 172px; }
/* line 34, ../sass/partials/_block.scss */
#nav-wrapper #block-dkan-sitewide-dkan-sitewide-search-bar input.form-control { width: 170px; }

/* line 38, ../sass/partials/_block.scss */
#views-exposed-form-groups-search-entity-view-1, #views-exposed-form-dataset-page { display: inline-block; position: relative; margin-top: 8px; width: 372px; }
/* line 13, ../sass/partials/_mixin.scss */
#views-exposed-form-groups-search-entity-view-1 form, #views-exposed-form-dataset-page form { margin: 0; }
/* line 16, ../sass/partials/_mixin.scss */
#views-exposed-form-groups-search-entity-view-1 input.form-text, #views-exposed-form-dataset-page input.form-text { padding-right: 30px; }
/* line 19, ../sass/partials/_mixin.scss */
#views-exposed-form-groups-search-entity-view-1 .views-exposed-form .views-widget-filter-search_api_views_fulltext, #views-exposed-form-dataset-page .views-exposed-form .views-widget-filter-search_api_views_fulltext { float: none; position: relative; }
/* line 23, ../sass/partials/_mixin.scss */
#views-exposed-form-groups-search-entity-view-1 .views-exposed-form, #views-exposed-form-dataset-page .views-exposed-form { position: relative; }
/* line 25, ../sass/partials/_mixin.scss */
#views-exposed-form-groups-search-entity-view-1 .views-exposed-form .views-exposed-widget, #views-exposed-form-dataset-page .views-exposed-form .views-exposed-widget { padding: 0; }
/* line 28, ../sass/partials/_mixin.scss */
#views-exposed-form-groups-search-entity-view-1 .views-exposed-form .form-submit, #views-exposed-form-dataset-page .views-exposed-form .form-submit { color: transparent; background: none !important; border: none; padding: 0; position: absolute; right: 10px; top: -20px; }
/* line 37, ../sass/partials/_mixin.scss */
#views-exposed-form-groups-search-entity-view-1 .views-exposed-form .form-submit:after, #views-exposed-form-dataset-page .views-exposed-form .form-submit:after { font-family: "FontAwesome"; font-size: 1.5em; content: '\f002'; color: #cccccc; }
/* line 43, ../sass/partials/_mixin.scss */
#views-exposed-form-groups-search-entity-view-1 .views-exposed-form .description, #views-exposed-form-dataset-page .views-exposed-form .description { position: absolute; color: #999999; font-size: 12px; left: 7px; top: 10px; }
/* line 42, ../sass/partials/_block.scss */
#views-exposed-form-groups-search-entity-view-1 input.form-control, #views-exposed-form-dataset-page input.form-control { width: 370px; }
/* line 45, ../sass/partials/_block.scss */
#views-exposed-form-groups-search-entity-view-1 .views-exposed-form .form-submit, #views-exposed-form-dataset-page .views-exposed-form .form-submit { top: -15px; }

/* line 52, ../sass/partials/_block.scss */
#block-dkan-sitewide-dkan-sitewide-social .block-content { padding: 0; }
/* line 55, ../sass/partials/_block.scss */
#block-dkan-sitewide-dkan-sitewide-social .social-links { margin: 0; list-style: none; padding-bottom: 0; }
/* line 59, ../sass/partials/_block.scss */
#block-dkan-sitewide-dkan-sitewide-social .social-links li { font-size: 12px; line-height: 1.1666666666666667em; padding: 0; border-bottom: 1px dotted #CCC; position: relative; }

/* line 73, ../sass/partials/_block.scss */
#block-dkan-sitewide-dkan-sitewide-other-access a.btn { background-image: auto; border: 1px solid #cccccc; padding: 8px 10px 8px 36px; position: relative; }
/* line 78, ../sass/partials/_block.scss */
#block-dkan-sitewide-dkan-sitewide-other-access a.btn i { background-position: 0 0; position: absolute; top: 8px; left: 5px; visibility: visible; }
/* line 84, ../sass/partials/_block.scss */
#block-dkan-sitewide-dkan-sitewide-other-access a.btn i.ckan-icon-rdfxml { background-image: url(../images/rdf.png); }
/* line 87, ../sass/partials/_block.scss */
#block-dkan-sitewide-dkan-sitewide-other-access a.btn i.ckan-icon-json { background-image: url(../images/json.png); }
/* line 91, ../sass/partials/_block.scss */
#block-dkan-sitewide-dkan-sitewide-other-access a.btn:hover { background-color: #eeeeee; }
/* line 95, ../sass/partials/_block.scss */
#block-dkan-sitewide-dkan-sitewide-other-access .btn-group { margin: .6em 0; }
/* line 97, ../sass/partials/_block.scss */
#block-dkan-sitewide-dkan-sitewide-other-access .btn-group .btn:first-child { background-image: url(../images/json.png); background-repeat: no-repeat; background-position: 10px 10px; }
/* line 102, ../sass/partials/_block.scss */
#block-dkan-sitewide-dkan-sitewide-other-access .btn-group .btn:last-child { background-image: url(../images/rdf.png); background-repeat: no-repeat; background-position: 10px 10px; }

/* line 110, ../sass/partials/_block.scss */
#block-dkan-forms-dkan-forms-dataset-help h2.block-title::before { content: "\f05a"; font-family: "FontAwesome"; font-weight: normal; font-style: normal; display: inline-block; text-decoration: inherit; font-size: 1.2em; line-height: 1; position: relative; top: 1px; margin-right: 0.4em; }

/* line 127, ../sass/partials/_block.scss */
.region-sidebar-first .block-facetapi .block-content, .block-facetapi .block-content { padding: 0; }
/* line 130, ../sass/partials/_block.scss */
.region-sidebar-first .block-facetapi ul, .block-facetapi ul { margin: 0 0 0.5em; padding: 0; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
/* line 135, ../sass/partials/_block.scss */
.region-sidebar-first .block-facetapi ul li.leaf, .region-sidebar-first .block-facetapi ul li.collapsed, .region-sidebar-first .block-facetapi ul li.expanded, .block-facetapi ul li.leaf, .block-facetapi ul li.collapsed, .block-facetapi ul li.expanded { border-bottom: 1px dotted #cccccc; list-style-type: none; list-style-image: none; margin: 0; padding: 0; }
/* line 143, ../sass/partials/_block.scss */
.region-sidebar-first .block-facetapi ul li.leaf li, .region-sidebar-first .block-facetapi ul li.collapsed li, .region-sidebar-first .block-facetapi ul li.expanded li, .block-facetapi ul li.leaf li, .block-facetapi ul li.collapsed li, .block-facetapi ul li.expanded li { position: relative; }
/* line 145, ../sass/partials/_block.scss */
.region-sidebar-first .block-facetapi ul li.leaf li a, .region-sidebar-first .block-facetapi ul li.collapsed li a, .region-sidebar-first .block-facetapi ul li.expanded li a, .block-facetapi ul li.leaf li a, .block-facetapi ul li.collapsed li a, .block-facetapi ul li.expanded li a { padding-right: 48px; }
/* line 149, ../sass/partials/_block.scss */
.region-sidebar-first .block-facetapi ul li.leaf li:before, .region-sidebar-first .block-facetapi ul li.collapsed li:before, .region-sidebar-first .block-facetapi ul li.expanded li:before, .block-facetapi ul li.leaf li:before, .block-facetapi ul li.collapsed li:before, .block-facetapi ul li.expanded li:before { content: "\f178"; font-family: "FontAwesome"; color: #0062a0; position: absolute; top: 4px; right: 30px; }
/* line 157, ../sass/partials/_block.scss */
.region-sidebar-first .block-facetapi ul li.leaf a, .region-sidebar-first .block-facetapi ul li.collapsed a, .region-sidebar-first .block-facetapi ul li.expanded a, .block-facetapi ul li.leaf a, .block-facetapi ul li.collapsed a, .block-facetapi ul li.expanded a { color: #333333; display: block; padding: 4px 10px 4px 15px; position: relative; }
/* line 162, ../sass/partials/_block.scss */
.region-sidebar-first .block-facetapi ul li.leaf a:hover, .region-sidebar-first .block-facetapi ul li.collapsed a:hover, .region-sidebar-first .block-facetapi ul li.expanded a:hover, .block-facetapi ul li.leaf a:hover, .block-facetapi ul li.collapsed a:hover, .block-facetapi ul li.expanded a:hover { color: #00436d; background: #99c0d9; text-decoration: none; }
/* line 168, ../sass/partials/_block.scss */
.region-sidebar-first .block-facetapi ul li.leaf a:hover:after, .region-sidebar-first .block-facetapi ul li.collapsed a:hover:after, .region-sidebar-first .block-facetapi ul li.expanded a:hover:after, .block-facetapi ul li.leaf a:hover:after, .block-facetapi ul li.collapsed a:hover:after, .block-facetapi ul li.expanded a:hover:after { content: "\f055"; color: #0062a0; font-family: "FontAwesome"; position: absolute; top: 4px; right: 6px; }
/* line 177, ../sass/partials/_block.scss */
.region-sidebar-first .block-facetapi ul li.leaf a.facetapi-active, .region-sidebar-first .block-facetapi ul li.collapsed a.facetapi-active, .region-sidebar-first .block-facetapi ul li.expanded a.facetapi-active, .block-facetapi ul li.leaf a.facetapi-active, .block-facetapi ul li.collapsed a.facetapi-active, .block-facetapi ul li.expanded a.facetapi-active { background: #cccccc; border-bottom: 1px solid #fff; color: #333; z-index: 0; }
/* line 184, ../sass/partials/_block.scss */
.region-sidebar-first .block-facetapi ul li.leaf a.facetapi-active:before, .region-sidebar-first .block-facetapi ul li.collapsed a.facetapi-active:before, .region-sidebar-first .block-facetapi ul li.expanded a.facetapi-active:before, .block-facetapi ul li.leaf a.facetapi-active:before, .block-facetapi ul li.collapsed a.facetapi-active:before, .block-facetapi ul li.expanded a.facetapi-active:before { content: ''; position: absolute; border-style: solid; border-width: 14px 0 14px 14px; border-color: transparent #cccccc; display: block; width: 0; z-index: 1; right: -13px; top: -2px; }
/* line 197, ../sass/partials/_block.scss */
.region-sidebar-first .block-facetapi ul li.leaf a.facetapi-active:after, .region-sidebar-first .block-facetapi ul li.collapsed a.facetapi-active:after, .region-sidebar-first .block-facetapi ul li.expanded a.facetapi-active:after, .block-facetapi ul li.leaf a.facetapi-active:after, .block-facetapi ul li.collapsed a.facetapi-active:after, .block-facetapi ul li.expanded a.facetapi-active:after { content: "\f00d"; font-family: "FontAwesome"; position: absolute; top: 3px; right: 6px; }
/* line 204, ../sass/partials/_block.scss */
.region-sidebar-first .block-facetapi ul li.leaf a.facetapi-active:hover:after, .region-sidebar-first .block-facetapi ul li.collapsed a.facetapi-active:hover:after, .region-sidebar-first .block-facetapi ul li.expanded a.facetapi-active:hover:after, .block-facetapi ul li.leaf a.facetapi-active:hover:after, .block-facetapi ul li.collapsed a.facetapi-active:hover:after, .block-facetapi ul li.expanded a.facetapi-active:hover:after { color: red; }
/* line 208, ../sass/partials/_block.scss */
.region-sidebar-first .block-facetapi a.facetapi-limit-link, .block-facetapi a.facetapi-limit-link { display: block; padding: 5px 30px 5px 5px; position: relative; }
/* line 213, ../sass/partials/_block.scss */
.region-sidebar-first .block-facetapi a.facetapi-limit-link:before, .block-facetapi a.facetapi-limit-link:before { content: "\f150"; font-family: "FontAwesome"; position: absolute; top: 6px; right: 15px; }
/* line 220, ../sass/partials/_block.scss */
.region-sidebar-first .block-facetapi a.facetapi-limit-link.open:before, .block-facetapi a.facetapi-limit-link.open:before { content: "\f151"; }

/* line 226, ../sass/partials/_block.scss */
#block-views-group-block-block { overflow: hidden; }
/* line 228, ../sass/partials/_block.scss */
#block-views-group-block-block .block-content { padding: 0; }
/* line 230, ../sass/partials/_block.scss */
#block-views-group-block-block .block-content .views-field-title, #block-views-group-block-block .block-content .views-field-body { margin: 10px 15px; }

/* line 237, ../sass/partials/_block.scss */
#block-dkan-forms-dkan-forms-dataset-help h2.block-title::before { content: "\f05a"; font-family: "FontAwesome"; font-weight: normal; font-style: normal; display: inline-block; text-decoration: inherit; font-size: 1.2em; line-height: 1; position: relative; top: 1px; margin-right: 0.4em; }

/* line 1, ../sass/partials/_form.scss */
input, textarea, select, .input-prepend .add-on, .input-append .add-on, .uneditable-input, .slick-header-column.ui-state-default { height: auto; }

/* line 10, ../sass/partials/_form.scss */
#action-info { margin: 15px 15px 0; }

/* line 15, ../sass/partials/_form.scss */
.block-dkan-sitewide-dkan-sitewide-search-bar form { float: right; margin: 0; position: relative; width: 200px; }

/* line 1, ../sass/partials/_menu.scss */
#nav-wrapper { border-bottom: 1px solid #cccccc; }
/* line 3, ../sass/partials/_menu.scss */
#nav-wrapper .navbar.container { margin: 0 auto; padding: 0; }
/* line 7, ../sass/partials/_menu.scss */
#nav-wrapper .navbar-default { background: transparent; border: none; }
/* line 10, ../sass/partials/_menu.scss */
#nav-wrapper .navbar-default nav { margin-top: 14px; }
/* line 14, ../sass/partials/_menu.scss */
#nav-wrapper .navbar-default .navbar-nav li > a { color: #0062a0; font-size: 12px; padding: 15px 6px; }
/* line 18, ../sass/partials/_menu.scss */
#nav-wrapper .navbar-default .navbar-nav li > a:hover, #nav-wrapper .navbar-default .navbar-nav li > a:focus { text-decoration: underline; }
/* line 23, ../sass/partials/_menu.scss */
#nav-wrapper .navbar-default .navbar-nav .active a { background: transparent; }
/* line 27, ../sass/partials/_menu.scss */
#nav-wrapper .navbar-default .navbar-nav.secondary li { float: none; }
/* line 29, ../sass/partials/_menu.scss */
#nav-wrapper .navbar-default .navbar-nav.secondary li a { font-size: .7em; line-height: 1.5em; padding: 4px; }

/* line 38, ../sass/partials/_menu.scss */
.tabs--primary { margin: 10px 0; }
/* line 40, ../sass/partials/_menu.scss */
.tabs--primary li { margin: 1px; }
/* line 43, ../sass/partials/_menu.scss */
.tabs--primary li a { border: 1px solid #cccccc; padding: 5px 15px; }
/* line 46, ../sass/partials/_menu.scss */
.tabs--primary li a.active { border: 1px solid #357EBD; }

/* line 2, ../sass/partials/_view.scss */
.view-popular-tags .tag-list li { display: inline-block; margin-right: 2em; }
/* line 5, ../sass/partials/_view.scss */
.view-popular-tags .tag-list li a { color: white; }

/* line 12, ../sass/partials/_view.scss */
.view-groups-search h2 { font-weight: bold; margin: 1em 0; }
/* line 16, ../sass/partials/_view.scss */
.view-groups-search .views-row { border-bottom: 1px dotted #cccccc; }

/* line 1, ../sass/partials/_dkan.scss */
#dkan-stages { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; }
/* line 4, ../sass/partials/_dkan.scss */
#dkan-stages .stages { margin: -16px -15px 20px; }

/* line 8, ../sass/partials/_dkan.scss */
.fa-google-plus-square { color: #BF2D1C; }

/* line 11, ../sass/partials/_dkan.scss */
.fa-twitter-square { color: #41B0D3; }

/* line 14, ../sass/partials/_dkan.scss */
.fa-facebook-square { color: #617AAD; }
