.region-content .block {
	@include popblock;
}
h2.block-title {
	background-color: hero;
	@include background-image(linear-gradient(#F5F5F5, #F0F0F0));
	@include border-radius(3px 3px 0 0);
    border-bottom: 1px solid $border;
    color: #0062A0;
    font-size: 14px;
    line-height: 1.3;
    padding: 7px 15px;
}
.region-sidebar-first,
.region-sidebar-second {
	.block {
		background-color: #FFFFFF;
	    border-radius: 3px;
	    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	    margin-bottom: 20px;
	    .block-content {
	    	padding:20px 15px;
	    }
	}
}

// SEARCH
#nav-wrapper #block-dkan-sitewide-dkan-sitewide-search-bar {
 	@include searchbox;
 	width:172px;
 	form {
 		width:172px;
 	}
    input.form-control {
    	width:170px;
    }
}
#views-exposed-form-groups-search-entity-view-1,
#views-exposed-form-dataset-page {
 	@include searchbox;
 	width:372px;
    input.form-control {
    	width:370px;
    }
    .views-exposed-form .form-submit {
    	top: -15px;
    }
}

// CKAN
#block-dkan-sitewide-dkan-sitewide-social {
	.block-content {
		padding: 0;
	}
	.social-links {
	 	margin: 0;
	 	list-style: none;
	 	padding-bottom: 0;
	 	li {
	 		font-size: 12px;
			line-height: 1.1666666666666667em;
			padding: 0;
			border-bottom: 1px dotted #CCC;
			position:relative;
			a {
				//padding-left:36px;
			}
	 	}
	}
}
// OTHER ACCESS
#block-dkan-sitewide-dkan-sitewide-other-access {
	a.btn {
		background-image: auto;
		border:1px solid $smoke;
		padding:8px 10px 8px 36px;
		position:relative;
		i {
			background-position: 0 0;
			position:absolute;
			top:8px;
			left:5px;
			visibility:visible;
			&.ckan-icon-rdfxml {
				background-image: url(../images/rdf.png);
			}
			&.ckan-icon-json {
				background-image: url(../images/json.png);
			}
		}
		&:hover {
			background-color:$gray-lighter;
		}
	}
	.btn-group {
		margin:.6em 0;
		.btn:first-child {
			background-image: url(../images/json.png);
			background-repeat:no-repeat;
			background-position: 10px 10px;
		}
		.btn:last-child {
			background-image: url(../images/rdf.png);
			background-repeat:no-repeat;
			background-position: 10px 10px;
		}
	}
}
// DKAN FORMS
#block-dkan-forms-dkan-forms-dataset-help h2.block-title::before{
  content: "\f05a";
  font-family: $icon-fa;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  font-size: 1.2em;
  line-height: 1;
  position: relative;
  top: 1px;
  margin-right: 0.4em;
}

// FACET API
.region-sidebar-first .block-facetapi,
.block-facetapi {
	.block-content {
		padding:0;
	}
	ul {
		margin:0 0 0.5em;
		padding:0;
		@include border-bottom-radius(4px);
	}
	ul li.leaf,
	ul li.collapsed,
	ul li.expanded {
		border-bottom:1px dotted $smoke;
		list-style-type:none;
		list-style-image:none;
		margin:0;
		padding:0;
	    li {
	    	position:relative;
	    a {
	        padding-right:48px;
	    }
    }
    li:before {
		content:"\f178";
		font-family:$icon-fa;
		color:$brand-primary;
		position:absolute;
		top:4px;
		right:30px;
    }
    a {
      color:$gray-dark;
      display:block;
      padding:4px 10px 4px 15px;
      position:relative;
      &:hover {
        color:darken($brand-primary, 10%);
        //background: rgba(black, 0.03);
        background: tint($brand-primary,60%);
        text-decoration:none;
      }
      &:hover:after {
        content:"\f055";
        color:$brand-primary;
        font-family:$icon-fa;
        position:absolute;
        top:4px;
        right:6px;
      }
    }
    a.facetapi-active {
      //background:rgba(black, 0.15);
      background:$smoke;
      border-bottom:1px solid #fff;
      color:#333;
      z-index:0;
    }
    a.facetapi-active:before {
      //@include transform(scalex(.8)); //remove jagged edge
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 14px 0 14px 14px;
      border-color: transparent $smoke;
      display: block;
      width: 0;
      z-index: 1;
      right: -13px;
      top: -2px;
    }
    a.facetapi-active:after {
      content:"\f00d";
      font-family:$icon-fa;
      position:absolute;
      top:3px;
      right:6px;
    }
    a.facetapi-active:hover:after {
      color:red;
    }
  }
  a.facetapi-limit-link {
    display:block;
    padding:5px 30px 5px 5px;
    position:relative;
  }
  a.facetapi-limit-link:before {
    content:"\f150";
    font-family:$icon-fa;
    position:absolute;
    top:6px;
    right:15px;
  }
  a.facetapi-limit-link.open:before {
    content:"\f151";
  }
}

// Groups
#block-views-group-block-block {
	overflow:hidden;
	.block-content {
		padding:0;
		.views-field-title,
		.views-field-body {
			margin:10px 15px;
		}
	}
}

#block-dkan-forms-dkan-forms-dataset-help h2.block-title::before{
  content: "\f05a";
  font-family: $icon-fa;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  font-size: 1.2em;
  line-height: 1;
  position: relative;
  top: 1px;
  margin-right: 0.4em;
}