input, 
textarea, 
select,
.input-prepend .add-on,
.input-append .add-on,
.uneditable-input,
.slick-header-column.ui-state-default  {
	height:auto;
}
#action-info {
	margin:15px 15px 0;
}

.block-dkan-sitewide-dkan-sitewide-search-bar {
	form {
		float: right;
	    margin: 0;
	    position: relative;
	    width: 200px;
	}
}
