h1 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 15px;
}

.breadcrumb {
    background: none;
    border: none;
    font-size: 20px;
    list-style: none;
    margin: 10px 0;
    padding: 0;
    position: relative;
    li {
    	float:none;
    	a {
    		span {
	    		display:none;
	    	}
	    }
	    &.home-link a {
	    	font-size:1.3em;
	    }
    }
}

table,
table.table {
	border-collapse:collapse;
	margin:1em 0;
	width:100%;
	thead > tr > th {
    	background-color: hero;
    	@include background-image(linear-gradient(#F5F5F5, #F0F0F0));
    	border:1px solid $border !important;
		padding:4px 8px;
	}
	thead th:first-child {
	    @inlclude border-top-left-radius(4px);
	}
	thead th:last-child, 
	thead th:last-child {
    	@include border-top-right-radius(4px);
    }
    tbody th,
    td {
	    border:1px solid $border;
	    padding:4px 8px;
    	vertical-align:top;
	}
    tr:hover {
    	background:#FFFEEE;
    }
}