.field-name-field-tags .field-item {
	display:inline-block;
}
.field-type-taxonomy-term-reference {
	a {
	    padding:2px 10px 3px;
	    font-size:12px;
	    @include border-radius(0 5px 5px 0);
	    @include background-image(linear-gradient(#fbfdfc, #f5f5f5));
	    //float:left;
	    margin:5px 5px 5px 20px;
	    position:relative;
	    color:$gray-dark;
	    border:1px solid $smoke;
	    border-left:0;
	    z-index:2;
	    &:after {
	        content:"";
	        width:18px;
	        height:18px;
	        @include background-image(linear-gradient(left top , #fbfdfc 0%,#f5f5f5 100%));
	        @include rotate(45deg);
	        @include border-radius(2px);
	        display:block;
	        position:absolute;
	        top:2px;
	        left:-9px;
	        z-index:-1;
	        border:1px solid $smoke;
	        border-top:none;
	        border-right:none;
	    }
	    &:before{
			content:"";
			width:2px;
			height:2px;
			background:$smoke;
			position:absolute;
			top:11px;
			left:-5px;
			@include border-radius(0);
	    }
	}
	a:hover:after,
	a:hover {
    	background: $gray-lighter;
    	color:#000;
    	text-decoration:none;
	}
}
.resource-list {
	margin:1em 0;
}
.resource-list .btn {
	margin-right:0;
}

.node-dataset label {
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
}

.data-and-resources .label {
  display: inline;
  padding: 1px 4px 2px;
  @include border-radius(3px);
  font-size: 10.998px;
  font-weight: bold;
  line-height: 14px;
  color: white;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.label[data-format="csv"], 
.label[data-format*="csv"] {
    background-color: #DFB100;
}